<div class="content">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="form-field">
      <input
        type="text"
        id="title"
        formControlName="title"
        required
        placeholder=" "
        autocomplete="off"
      />
      <label for="title" class="floating-label">Title</label>
      <div
        class="error"
        *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
      >
        Title is required
      </div>
    </div>

    <div class="form-field">
      <input
        type="number"
        id="amount"
        formControlName="amount"
        required
        placeholder=" "
        autocomplete="off"
      />
      <label for="amount" class="floating-label">Amount</label>
      <div
        class="error"
        *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched"
      >
        Amount is required
      </div>
    </div>

    <div class="form-field">
      <select id="category" formControlName="category" required>
        <option [ngValue]="''" disabled>Select Category</option>
        <option value="Food">Food</option>
        <option value="Travel">Travel</option>
        <option value="Utilities">Utilities</option>
        <option value="Others">Others</option>
      </select>
      <label for="category" class="floating-label">Category</label>
      <div
        class="error"
        *ngIf="form.get('category')?.invalid && form.get('category')?.touched"
      >
        Category is required
      </div>
    </div>

    <div class="form-field">
      <input
        type="date"
        id="date"
        formControlName="date"
        [max]="maxDate"
        required
        placeholder=" "
        autocomplete="off"
      />
      <label for="date" class="floating-label">Date</label>
      <div
        class="error"
        *ngIf="form.get('date')?.invalid && form.get('date')?.touched"
      >
        Date is required
      </div>
    </div>

    <button
      type="submit"
      class="btn"
      [disabled]="form.invalid"
      [attr.aria-disabled]="form.invalid"
    >
      {{ isEditMode ? 'Update Expense' : 'Add Expense' }}
    </button>

    <p *ngIf="form.invalid" class="form-hint">
      🛈 Please fill all required fields to enable the button.
    </p>
  </form>
</div>
