*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif !important;
}

html,
body {
  font-family: "Segoe UI", sans-serif !important;
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

input,
select,
textarea,
button {
  font-family: "Segoe UI", sans-serif !important;
}
